apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: crypto-monitor-postgres-data
  namespace: app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 20Gi
