apiVersion: v1
kind: ConfigMap
metadata:
  name: crypto-monitor-init-sql
  namespace: app
data:
  init.sql: |
    -- Create database and user if not exists
    SELECT 'CREATE DATABASE btctrade'
    WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'btctrade')\gexec

    DO $$
    BEGIN
      IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = 'btctrade') THEN
        CREATE ROLE btctrade WITH LOGIN PASSWORD '${DB_PASSWORD}';
      END IF;
    END
    $$;

    GRANT ALL PRIVILEGES ON DATABASE btctrade TO btctrade;

    \c btctrade
    GRANT ALL ON SCHEMA public TO btctrade;
